 		  <div layout layout="row" layout-align="center center">
              <h2 class="white-text">{{location}}</h2>
              <br/>
          </div>

           <div  layout="row" layout-padding layout-align="center center" style="padding-left:300px">
	           	<md-list flex>
	           		<div ng-repeat="sick in symptoms">
		           		<md-switch ng-model="data[sick.key]" aria-label="Switch$index" >
						    <label style="color:#fff" class="bold-text">{{sick.sickness}}</label>
						    <ng-md-icon icon="accessibility" style="fill:white"></ng-md-icon>
						</md-switch>
					</div>
					<md-button style="margin:40px"class="md-raised md-warn" ng-click="calculate()">Submit Test</md-button>
				</md-list>
				
           </div>