<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>aira&reg;</title>

        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css"> 

  </head>

  <body>

    <html lang="en" ng-app="StarterApp">
  <head>
    <link rel="stylesheet" href="css/angular-material.min.css">
  </head>
  <body layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" 
      md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-tall md-hue-1">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <span></span>
          <div style="color: #000;">Firstname Lastname</div>
          <div style="color: #000;">email@domainname.com</div>
        </div>
      </md-toolbar>
      <md-list>
        <md-item>
          
            <a href="#/"><md-item-content md-ink-ripple layout="row" layout-align="start center" ng-click="my_loc()">
              <div class="inset">
                <ng-md-icon icon="my_location"></ng-md-icon>
              </div>
              <div class="inset">My Location</div>
            </md-item-content></a>
          
        </md-item>
        <a href=""><md-item>
          
            <md-item-content md-ink-ripple layout="row" layout-align="start center" ng-click="air_check()">
              <div class="inset">
                <ng-md-icon icon="cloud_circle"></ng-md-icon>
              </div>
              <div class="inset">Aircheck</div>
            </md-item-content>
          
        </md-item></a>
      
    </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
    

      

      <md-content class="layout1" style='min-height: 100%'>
        <md-toolbar ng-show="!showSearch" style='background-color: rgba(255,255,255,0.1);'>
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          
          <span flex></span>
          <!--search and more-->
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
          <!--search and more-->
        </div>

      </md-toolbar>


      <md-toolbar class="md-hue-1" ng-show="showSearch" style='background-color: rgba(255,255,255,0.1);'>
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h3 flex="10">
            Back
          </h3>
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <!-- <input ng-model="search.who" placeholder="enter location" id="search_location"> -->
            <input ng-model="search_location" placeholder="enter location" id="search_location">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>       
      </md-toolbar>



        <ui-view flex layout-padding layout-fill>
          <div layout layout="row" layout-align="center center">
              <h2 class="white-text"><i class="fa fa-map-marker" style="font-size: 35px"></i> {{location}}</h2>
              <br/>
          </div>

           <div  layout="row" layout-padding layout-align="center center">
              <div flex="30">
                <h4 class="white-text">Humidity : {{weather.main.humidity + '%'}}</h4>   
                <img src="img/10acbfc6abf3a749e578bc80bfc656b1.png" width="128" height="128">
              </div>

               <div flex="30">
                <h4 class="white-text">Temperature : {{weather.main.temp - 273.15 | number: 2}}</h4>   
               <img src="img/weather.svg" width="128" height="128">
              </div>

               <div flex="30">
                <h4 class="white-text">Air Pressure : {{weather.main.pressure + 'mb'}}</h4>   
              <img src="img/airpressure.svg" width="128" height="128">
              </div>

            </div>

            <div flex="30" layout="column" layout-align="center center">
                <h4 class="white-text">Weather Condition : {{weather.weather[0].description}}</h4>   
              <img src="img/weathercondition.svg" width="128" height="128">
              </div>
          </ui-view>
      </md-content>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>

    <script src="js/angular-material.min.js"></script>    
    <script src="js/angular-material-icons.min.js"></script> 
   
    <script src='js/angular-ui-router.min.js'></script>
  </body>
</html>
        <script src="js/index.js"></script>  
      
  </body>
</html>


